table, th, td {
	border: 1px solid;
}

th.sort-asc::after {
	content: '^';
}

th.sort-desc::after {
	content: 'v';
}

button {
	margin: 0 0 1em 0.5em;
}

* {
	color: #839496;
	background-color: #002b36;
}